* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html, body {
  width: 100%;
  height: 100%;
}
main{
    height: 100%;
    background-image: url(https://images.pexels.com/photos/1554824/pexels-photo-1554824.jpeg);
    background-position: center;
    background-size: cover;
}
#text{
    padding: 185px 34px;
}
h1{
    color: white;
    font-size: 35px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    padding: 15px 20px;
    margin: 10px;
    font-size: 22px;
    font-weight: 900;
    border-radius: 25px ;
    background: linear-gradient(rgb(227, 139, 139), transparent);
    border: 1px solid white;
    color: white;
}
button:hover{
    background: linear-gradient(rgb(183, 96, 96), transparent);
    
}