* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* html,
body {
  width: 100%;
  height: 100%;
} */
body {
  background-color: #80808026;
}
nav {
  margin-top: 45px;
  font-size: 31px;
  width: 100%;
}
nav a {
  padding: 0 25px;
  font-weight: 500;
  color: black;
}
.zara {
  padding: 0 205px;
  font-weight: 900;
  text-transform: uppercase;
}
main h1 {
  font-family: cursive;
  font-size: 240px;
  text-align: center;
  line-height: 235px;
  font-weight: 100;
}
.descriptionProduct {
  width: 22%;
  padding: 45px 0px 0px 42px;
}
.descriptionProduct h2,
.descriptionProduct p {
  padding: 6px 0;
}

.modelsPicture {
  position: absolute;
  right: 300px;
  bottom: 0px;
}

.img1{
  bottom: 100px;
  position: relative;
}
.img2{
  position: relative;
  bottom: 30px;
  right: 40px;
}
.img3{
  position: relative;
  bottom: 110px;
  right: 60px;
}

footer {
  padding: 0 53px;
  padding-top: 30px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.italic  {
  font-style: italic;
  padding-right:40%;
}
.underline {
  text-decoration: underline;
  padding-left: 30%;
}
