* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}
html, body {
  width: 100%;
  height: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-areas: "nav"
                "article"
                "figure";
                gap: 5px;
                overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    grid-area: nav;
    font-size: 18px;
}

nav a{
        font-size: 1.8rem;
        padding: 0 8px;
        font-weight: 700;
        color: black;
    }
nav .navMiddle a:hover{
        transition: all linear .5s;
        text-decoration: underline;
        text-decoration-color: rgb(0, 47, 255);
        text-shadow: 2px 2px 20px rgb(72, 255, 0);
        
}

.navLeft{
  font-size: 2rem;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  cursor: pointer;
}

.navMiddle button{
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.181), rgba(128, 128, 128, 0.395));
  padding: 8px 12px;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}

article{
  /* width: 100%; */
  grid-area: article;
  background-color: rgb(255, 204, 0);
  overflow: hidden;
}
article img{
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

article > img{
  width: 100%;
}

figure{
grid-area: figure;
background-color: blueviolet;
background-image: url(https://static.crunchyroll.com/cr-acquisition/assets/img/start/hero/us-global/background-desktop.jpg);
background-position: center;
}