* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  flex-wrap: wrap;
  background-color: rgb(120, 129, 139);

}
.card {
  height: 60%;
  width: 15%;
  border: 2px solid;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card .top {
  height: 40%;
  width: 100%;
}
.card .top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:top center;
}
.card .bottom {
  color: white;
  padding: .8rem;
  height: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.card .bottom h1 {
  font-weight: 600;
  font-size: larger;
  padding: .1rem 0;
}
.card .bottom p {
  font-size: small;
  padding: .3rem 0;
}
.card .bottom .stay{
  padding: .2rem .5rem;
  border: 1px solid;
  border-radius: 1rem;
  width: fit-content;
}
.card .bottom button{
  padding: .4rem;
  margin-top: .3rem;
  text-transform: capitalize;
  border: 2px solid;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
  font-weight: 600;

}
